.category-list {
  padding: 80px 0;
  &__title {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__card {
    width: calc(20% - 16px);
    padding: 16px;
    border-radius: 30px;
    background: linear-gradient(135deg, #FFF 0%, #FFF 100%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) inset;
    img {
      width: 100%;
      max-height: 100px;
      object-fit: contain;
    }
    &-title {
      color: #000;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      margin-top: 10px;
    }
  }
}